body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
}

#root {
  width: 100%;
}

section {
  padding: 60px 20px;
  text-align: center;
}

h1 {
  font-size: 60px;
  color: gold;
  margin-bottom: 10px;
}

h2 {
  font-size: 36px;
  color: gold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

img {
  width: 300px;
  margin: 10px;
  border-radius: 12px;
}
